<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Primer Empleo</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Bienvenido a Primer Empleo</h1>
        <nav>
            <div class="menu-icon" id="menu-icon">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul id="nav-list">
                <li><a href="/perfil">Mi Perfil</a></li>
                <li><a href="./public/agregarV.html">Buscar Empleos</a></li>
                <% if (rolUsuario === 'empresa') { %>
                    <li><a href="/agregar-vacante">Agregar Vacante</a></li>
                <% } %>
                <li><a href="/logout">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <div class="container">
            <h2>Bienvenido de nuevo, <%= nombreUsuario.charAt(0).toUpperCase() + nombreUsuario.slice(1) %></h2>
            <p>Encuentra tu primer empleo y da el primer paso en tu carrera profesional.</p>
            <a href="/buscar" class="btn">Buscar Empleos</a>
        </div>
    </section>
    
    <section class="highlights">
        <div class="container">
            <h2>Destacados</h2>
            <ul>
                <% destacados.forEach(vacante => { 
                    const fechaPublicacion = new Date(vacante.fecha_publicacion).toLocaleDateString('es-ES');
                    const fechaCierre = new Date(vacante.fecha_cierre).toLocaleDateString('es-ES');
                %>
                    <li>
                        <h3><%= vacante.titulo %></h3>
                        <p><%= vacante.descripcion %></p>
                        <p>Empresa: <%= vacante.nombre_empresa %></p>
                        <p>Fecha de Publicación: <%= fechaPublicacion %></p>
                        <p>Fecha de Cierre: <%= fechaCierre %></p>
                        <!-- Puedes incluir más detalles de la vacante aquí -->
                    </li>
                <% }); %>
            </ul>
        </div>
    </section>
    
    

    
    
    <section class="suggestions">
        <div class="container">
            <h2>Te sugerimos</h2>
            <!-- Aquí podrías incluir algunas sugerencias de trabajos basadas en el perfil del usuario -->
        </div>
    </section>
    
    <script>
        document.getElementById('menu-icon').addEventListener('click', function() {
            var navList = document.getElementById('nav-list');
            navList.classList.toggle('show');
        });
    </script>
</body>
</html>
